header
	border-bottom: 1px solid #ccc
	.logo
		a
			display: flex
	.nav-wrapper
		display: flex
		flex-direction: row
		justify-content: flex-end
		nav
			ul
				display: inline-flex
				flex-direction: row
				flex-wrap: nowrap
			a
				text-decoration: none
		.btn-wrap
			margin-left: 30px